@model Webs.Model.OperationResult<List<Webs.Model.Channel>>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChannelList</title>
</head>
<body>
    <ul>
        @if (Model.Result)
{
    foreach (var k in Model.Data)
    {
        <li id='c@(k.ChannelId)' vc='@(k.ChannelId)' class="cn">@k.ChannelName</li>
    }
}
    </ul>

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>       
        $(".cn").click(function () {
            var url = '@Html.ActionLink("$1", "Detail", new {id= "t2" })';
            var channelId=$(this).attr("vc");
            $("#next").attr("vc", channelId);
            $.post('@Url.Action("InfoPager")', { "pageSize": 1, "pageCurrentIndex": 1, "channelId": channelId }, function (data) {
                if (data.List) {
                    $("#infolist").html("");
                    $("#next").attr("vl",2);                 
                    for(var i=0;i<data.List.length;i++){
                        $("#infolist").append(url.replace("$1", data.List[i].InfoTitle).replace("t2", data.List[i].InfoId));
                    }
                }
            }, "json");
        });
    </script>
    <div>
        <ul id="infolist">
           
        </ul>
        <a id="next" vl="1" vc="1" ci="1">更多</a>
        <script>
            $("#next").click(function () {
                var url = '@Html.ActionLink("$1", "Detail", new {id= "t2" })';
                var pageIndex = parseInt($(this).attr("vl"));               
                $.post('@Url.Action("InfoPager")', { "pageSize": 1, "pageCurrentIndex": pageIndex, "channelId": $(this).attr("vc") }, function (data) {   
                    pageIndex++
                    $("#next").attr("vl", pageIndex);
                    if ((data.List) && (data.List.length>0)) {
                        for (var i = 0; i < data.List.length; i++) {
                            $("#infolist").append(url.replace("$1", data.List[i].InfoTitle).replace("t2", data.List[i].InfoId));
                        }
                    } else {
                        pageIndex--
                        $("#next").attr("vl", pageIndex);
                    }
                }, "json");
               
            });
        </script>
    </div>
</body>
</html>
