﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section head{   
<link href="http://r.xieqj.cn/css/blog/index.css" rel="stylesheet" />
<link href="http://r.xieqj.cn/common/scrollpath.css" rel="stylesheet" />
}
<nav>
    <ul>
        <li><a href="#start">操作手册</a></li>
        <li><a href="#description">凝点系列</a></li>
        <li><a href="#syntax">日积月累</a></li>
        <li><a href="#scrollbar">他山石</a></li>
        <li><a href="#rotations" class="a1">项目</a></li>       
        <li><a href="#source" class="a1">我</a></li>
    </ul>
</nav>
<div class="settings">
    <a href="http://www.miitbeian.gov.cn" style=" text-decoration:none; color:Gray;">京ICP备15011783号-1</a>
    邮箱:<a target="_blank" href="mailto:webadmin@war2045.com" style="text-decoration:none;color:Gray;">webadmin@war2045.com</a>
</div>
<div class="wrapper">
    <div class="demo">
        <a href="@Url.Action("list", new { id = 1 })" title="点击查看更多">
            <h1>操作手册</h1></a>
            <ul>
            @{
            Webs.Model.OperationResult<List<Info>> list1=(Webs.Model.OperationResult<List<Info>>)ViewData["list1"];
            if(list1.Result){
            for(int i=0;i<list1.Data.Count;i++){
             	<li class="demoli"><a href='@Url.Action("Detail")@list1.Data[i].InfoId' class="newlink">@list1.Data[i].InfoTitle</a></li>
            		}
            	}            
            }
         </ul>
            
</div>

    <div class="description">
        <a href="@Url.Action("list", new { id = 2 })" title="点击查看更多">
            <h1>凝点系列</h1></a>
            <ul>
                 @{
            Webs.Model.OperationResult<List<Info>> list2=(Webs.Model.OperationResult<List<Info>>)ViewData["list2"];
            if(list2.Result){
            for(int i=0;i<list2.Data.Count;i++){
             	<li class="demoli"><a href='@Url.Action("Detail")@list2.Data[i].InfoId' class="newlink">@list2.Data[i].InfoTitle</a></li>
            		}
            	}            
            }
            </ul>
</div>

    <div class="syntax">
        <a href="@Url.Action("list", new { id = 4 })" title="点击查看更多">
            <h1>日积月累</h1></a>
            <ul>
            @{
            Webs.Model.OperationResult<List<Info>> list4=(Webs.Model.OperationResult<List<Info>>)ViewData["list4"];
            if(list4.Result){
            for(int i=0;i<list4.Data.Count;i++){
             	<li class="demoli"><a href='@Url.Action("Detail")@list4.Data[i].InfoId' class="newlink">@list4.Data[i].InfoTitle</a></li>
            		}
            	}            
            }  
            </ul>
</div>

    <div class="scrollbar">
        <a href="@Url.Action("list", new { id = 3 })" title="点击查看更多">
            <h1>他山石</h1></a>
            <ul>
               @{
            Webs.Model.OperationResult<List<Info>> list3=(Webs.Model.OperationResult<List<Info>>)ViewData["list3"];
            if(list3.Result){
            for(int i=0;i<list3.Data.Count;i++){
             	<li class="demoli"><a href='@Url.Action("Detail")@list3.Data[i].InfoId' class="newlink">@list3.Data[i].InfoTitle</a></li>
            		}
            	}            
            }  
                  </ul>
</div>

    <div class="rotations">
        <a href="@Url.Action("list", new { id = 5 })" title="点击查看更多">
            <h1>项目</h1></a>
            <ul>
                @{
            Webs.Model.OperationResult<List<Info>> list5=(Webs.Model.OperationResult<List<Info>>)ViewData["list5"];
            if(list5.Result){
            for(int i=0;i<list5.Data.Count;i++){
             	<li class="demoli"><a href='@Url.Action("Detail")@list5.Data[i].InfoId' class="newlink">@list5.Data[i].InfoTitle</a></li>
            		}
            	}            
            }  
            </ul>
</div>

    <div class="source">
        <a href="http://hi.xieqj.cn" target="_self" class="big a1">About Me</a>
    </div>

  
</div>
@section jsPackage{   
<script src="http://r.xieqj.cn/lib/jquery.easing.js"></script>
<script src="http://r.xieqj.cn/lib/jquery.scrollpath.js"></script>
<script src="http://r.xieqj.cn/js/blog/index.js"></script>
}

    