@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChannelList</title>
      <link href="http://r.xieqj.cn/op/op.css" rel="stylesheet" />
</head>
<body>
    <div class="header"><h1>op管理</h1></div>
    <div class="menuWrap">
        <ul class="menu">
            <li>@Html.ActionLink("操作手册", "ChannelList", new  { id=1})</li>
            <li>@Html.ActionLink("凝聚系列", "ChannelList", new { id = 2 })</li>
            <li>@Html.ActionLink("他山石", "ChannelList", new { id = 3 })</li>
            <li>@Html.ActionLink("日积月累", "ChannelList", new { id = 4 })</li>
            <li>@Html.ActionLink("ME", "ChannelList", new { id = 5 })</li>
            <li>@Html.ActionLink("我的项目", "ChannelList", new { id = 5 })</li>
        </ul>
    </div>
    <div class="pageContent">
        <div class="pcleft">
            <ul id="infolist">
               
            </ul>
            <div id="more" class="more">更多....</div>
        </div>
        <div class="pcright">
           
            <table>
                <tr>
                    <td colspan="2" >
                        <div id="del" class="delbtn"><a>del this</a></div>
                        <div id="save" class="savebtn"><a>保存</a></div>
                        <div id="new" class="savebtn"><a>新建</a></div>
                    </td>
                </tr>
                <tr>
                    <td width="40" align="right">序号<span id="InfoId">0</span>标题</td>
                    <td align="left">
                        <input id="InfoTitle" name="InfoTitle" type="text" style="width:280px;" value=""/>
                    </td>
                </tr>
                <tr><td width="40" align="right">跳转地址</td><td align="left">http://<input id="JumpUrl" name="JumpUrl" type="text" style="width:300px;" /> </td></tr>
                <tr><td width="40" align="right">首图</td><td align="left">http://<input id="TitleImg" name="TitleImg" type="text" style="width:300px;" /> </td></tr>
                <tr><td width="40" align="right">置顶</td><td align="left"><input id="Top" name="Top" type="checkbox" /></td></tr>
                <tr><td width="40" align="right">排序</td><td align="left"><input id="ShowSort" name="ShowSort" type="text" style="width:20px;" value="" /></td></tr>
                <tr><td width="40" align="right">启用</td><td align="left"><input id="aEnable" name="aEnable" type="checkbox" checked="checked" /></td></tr>
                <tr>
                    <td width="40" height="310px" align="right" valign="top">内容</td>
                    <td align="left" valign="top">
                        <script id="editor" type="text/plain" style="width:860px;height:310px;">
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="http://op.xieqj.cn/Editor/editor/ueditor.config.js"></script>
    <script src="http://op.xieqj.cn/Editor/editor/ueditor.all.min.js"></script>
    <script src="http://op.xieqj.cn/Editor/editor/lang/zh-cn/zh-cn.js"></script>
      <script src="http://r.xieqj.cn/js/c/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        var pageData = {
            channelId: @ViewData["id"],
            pagerUrl: '@Url.Action("InfoPager")',
            detailUrl: '@Url.Action("Detail")',
            saveUrl: '@Url.Action("InfoEdit")',
            delUrl: '@Url.Action("ds")',
            channelUrl: '@Url.Action("ChannelList")?id='
        }
    </script>
    <script src="http://r.xieqj.cn/op/op.js"></script>
</body>
</html>
